.app-header {
  height: 100px;
  text-transform: uppercase;

  .brand-h1 {
    font-size: 25px;
    font-weight: bold;
  }

  .app-nav-bar {
    font-weight: 500;

    .app-header-item {
      padding: 0px 15px;
      font-size: 18px;

      &:after {
        content: '';
        width: 0px;
        height: 2px;
        transition: all 150ms linear;
        background-color: #707070;
        position: fixed;
      }

      &:hover:after {
        width: 5%;
      }

    }

  }

}