.flex-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.profile-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image{
    object-fit: cover;
    object-position: 100% 20%;
    height: 200px;
    width: 200px;
}

.text{
    font-weight: 600;
    color: white;
}